In [4]:
import pandas as pd
import numpy as np

In [72]:
data=pd.read_csv("2019 Winter Data Science Intern Challenge Data Set - Sheet1.csv")

In [73]:
data.head()

,order_id,shop_id,user_id,order_amount,total_items,payment_method,created_at
0,1,53,746,224,2,cash,2017-03-13 12:36:56
1,2,92,925,90,1,cash,2017-03-03 17:38:52
2,3,44,861,144,1,cash,2017-03-14 4:23:56
3,4,18,935,156,1,credit_card,2017-03-26 12:43:37
4,5,18,883,156,1,credit_card,2017-03-01 4:35:11

In [74]:
l=list(data.columns.values)

In [75]:
l.insert(5,"ord_aov")

In [76]:
print(l)

['order_id', 'shop_id', 'user_id', 'order_amount', 'total_items', 'ord_aov', 'payment_method', 'created_at']

In [77]:

data=data.values
ord_aov=data[:,3]/data[:,4]

In [78]:
print (ord_aov)

[112.0 90.0 144.0 ... 117.0 177.0 144.0]

In [79]:
AOV=ord_aov.mean()

In [80]:
print(AOV)

387.7428

In [81]:
data=np.insert(data, 5,ord_aov , axis=1)

In [82]:
y_=pd.DataFrame(data,columns=l)

In [83]:
y_.head()

,order_id,shop_id,user_id,order_amount,total_items,ord_aov,payment_method,created_at
0,1,53,746,224,2,112.0,cash,2017-03-13 12:36:56
1,2,92,925,90,1,90.0,cash,2017-03-03 17:38:52
2,3,44,861,144,1,144.0,cash,2017-03-14 4:23:56
3,4,18,935,156,1,156.0,credit_card,2017-03-26 12:43:37
4,5,18,883,156,1,156.0,credit_card,2017-03-01 4:35:11

In [86]:
y_.to_excel("Solved.xlsx",sheet_name='Sheet_name_1')

Requirement already satisfied: openpyxl in c:\users\taran\appdata\local\programs\python\python39\lib\site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in c:\users\taran\appdata\local\programs\python\python39\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.3; however, version 21.3.1 is available.
You should consider upgrading via the 'C:\Users\taran\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.